* {
  margin: 0px;
  padding: 0px; }

html, body {
  height: 100%;
  width: 100%; }

@font-face {
  src: url("ProximaNova-Bold.ttf");
  font-family: 'ProximaNovaBold'; }
@font-face {
  src: url("ProximaNova-Regular.ttf");
  font-family: 'ProximaNovaRegular'; }
@font-face {
  src: url("ProximaNova-Light.ttf");
  font-family: 'ProximaNovaLight'; }
@font-face {
  src: url("fontello.ttf");
  font-family: 'fontello'; }
body {
  perspective: 800px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px; }

.container {
  height: 100%;
  width: 100%; }

.morph_me_button_container {
  padding: 130px 0px;
  width: 100%;
  text-align: center; }

.morph_me_button {
  background: #2ecc71;
  padding: 15px 62px;
  color: #fff;
  font-family: 'ProximaNovaLight';
  font-size: 18px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none; }

.morph_me_container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10001;
  opacity: 0;
  pointer-events: none;
  transition: top .2s ease 0s, left .2s ease 0s, height .2s ease 0s, width .2s ease 0s, border-radius .4s ease 1s;
  -webkit-transition: top .2s ease 0s, left .2s ease 0s, height .2s ease 0s, width .2s ease 0s, border-radius .4s ease 1s;
  -moz-transition: top .2s ease 0s, left .2s ease 0s, height .2s ease 0s, width .2s ease 0s, border-radius .4s ease 1s;
  -ms-transition: top .2s ease 0s, left .2s ease 0s, height .2s ease 0s, width .2s ease 0s, border-radius .4s ease 1s;
  -o-transition: top .2s ease 0s, left .2s ease 0s, height .2s ease 0s, width .2s ease 0s, border-radius .4s ease 1s; }

.morph_circle {
  border-radius: 50%; }

.morph_me_container.show {
  opacity: 1;
  pointer-events: auto;
  border-radius: 0px;
  transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s; }

.morph_close_container {
  position: absolute;
  top: 8%;
  right: 4%;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s; }

.morph_close_container:before {
  position: absolute;
  top: 22px;
  left: 21px;
  font-family: 'fontello';
  font-size: 21px;
  content: '\e80d';
  color: #000; }

.morph_close_container.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px); }

.morph_ball_container {
  text-align: center; }

.morph_ball {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: #2ecc71;
  display: inline-block;
  cursor: pointer;
  position: relative; }

.morph_ball:before {
  position: absolute;
  top: 23px;
  left: 24px;
  font-family: 'fontello';
  font-size: 20px;
  color: #fff;
  content: '\e816'; }

.morph_title_container {
  padding: 53px 0px;
  font-family: 'ProximaNovaLight';
  font-size: 52px;
  text-align: center; }

.morph_content_container {
  padding: 12px 5%;
  width: 90%;
  text-align: center; }

.morph_single_content {
  margin-top: 48px; }

.morph_single_content:nth-child(1) {
  margin-left: 0px; }

.content_top, .content_bottom {
  width: 100%;
  text-align: center; }

.content_bottom {
  padding: 16px 0px;
  width: 100%;
  text-align: center;
  font-family: 'ProximaNovaLight';
  font-size: 18px; }

.hexagon {
  width: 100%;
  cursor: pointer;
  text-align: center;
  margin-left: 45%;
  background: #2ecc71; }

.hexagon_top {
  height: 0px;
  width: 0px;
  border: 62px solid transparent;
  border-bottom: 42px solid #2ecc71; }

.hexagon_middle {
  height: 62px;
  width: 124px;
  background: #2ecc71; }

.hexagon_bottom {
  height: 0px;
  width: 0px;
  border: 62px solid transparent;
  border-top: 42px solid #2ecc71; }

.morph_title {
  font-family: 'ProximaNovaBold';
  font-size: 42px;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 11%; }

.morph_content {
  padding: 62px 15%;
  font-family: 'ProximaNovaLight';
  font-size: 21px;
  line-height: 39px;
  width: 70%;
  text-align: center;
  color: #fff; }

/*# sourceMappingURL=morph-me.css.map */
